@using Portfolio.ViewModels



@model PortfolioViewModel

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from gray.flatheme.net/index-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 29 Jun 2024 11:07:16 GMT -->
@Html.Partial("/Views/Home/Partials/_HeadPartial.cshtml")
<body class="theme-dark" data-preloader="true">
    <!-- Background Vertical lines -->
    <div class="bg-lines">
        <div class="bg-line-1"></div>
        <div class="bg-line-2"></div>
        <div class="bg-line-3"></div>
        <div class="bg-line-4"></div>
    </div>
    <!-- end Background Vertical lines -->
    <!-- Toggle Menu Content -->
    @Html.Partial("~/Views/Home/Partials/_ToggleMenuPartial.cshtml")


    <!-- end col -->
    </div>
    <!-- end row -->
    </div>

    <div class="row g-4 g-lg-5">
        <div class="col-12 col-lg-4 col-xl-3">
            <!-- Main Nav -->
            @Html.Partial("~/Views/Home/Partials/_MainNavPartial.cshtml")
            <!-- end Main Nav -->
        </div>
        <!-- end col -->

        <div class="col-12 col-lg-8 col-xl-9">
            <div class="sections-wrapper"
                 data-bs-spy="scroll"
                 data-bs-target=".section-nav">
                <!-- About section -->
                @Html.Partial("~/Views/Home/Partials/_AboutPartial.cshtml")
                <!-- end About section -->
                <!-- Portfolio section -->
                @Html.Partial("~/Views/Home/Partials/_PortfolioPartial.cshtml")
                <!-- end Portfolio section -->
                <!-- Services section -->
                @Html.Partial("~/Views/Home/Partials/_ServicesPartial.cshtml")
                <!-- end Services section -->
                @Html.Partial("~/Views/Home/Partials/_TestimonialsPartial.cshtml")
                <!-- end Services section -->
                <!-- Resume section -->
                @Html.Partial("~/Views/Home/Partials/_ResumePartial.cshtml")
                <!-- end Resume section -->
                <!-- Clients section -->
                @Html.Partial("~/Views/Home/Partials/_ClientsPartial.cshtml")
                <!-- end Clients section -->
                <!-- Blog section -->
                @Html.Partial("~/Views/Home/Partials/_BlogPartial.cshtml")
                <!-- end Blog section -->
                <!-- Contact section -->
                @Html.Partial("~/Views/Home/Partials/_ContactPartial.cshtml")
                <!-- end row -->
                <div class="mt-4 mt-lg-5">
                    <!-- Contact Form -->
                    @Html.Partial("~/Views/Home/Partials/_ContactFormPartial.cshtml")
                    <!-- end contact-form -->
                </div>
            </div>
            <!-- end section-box -->
            <!-- end Contact section -->
            <!-- Google Maps -->
            <div id="map1" class="gmap gmap-sm mt-4 border-radius box-shadow" style="width: 100%; height: 450px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d/\121682.46673036175!2d48.80836861254012!3d41.46411009264424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403f2e2c783967d5%3A0x84e819ea1736823e!2sKhachmaz%2C%20Azerbaijan!5e0!3m2!1sen!2s!4v1626121172585!5m2!1sen!2s"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <script></script>
            </div>


            <!-- end Google Maps -->
        </div>
        <!-- end tab-content -->
    </div>
    <!-- end col -->
    </div>
    <!-- end main row -->
    </div>
    <!-- end main container -->
    <!-- JavaScripts -->


   
    <script src="~/plugins/jquery.min.js"></script>
    <script src="~/plugins/plugins.js"></script>
    <script src="~/js/functions.js"></script>
</body>

<!-- Mirrored from gray.flatheme.net/index-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 29 Jun 2024 11:07:19 GMT -->
</html>

