<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

@using Portfolio.ViewModels



@model PortfolioViewModel

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from gray.flatheme.net/index-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 29 Jun 2024 11:07:16 GMT -->
@Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_HeadPartial.cshtml");

<body class="theme-dark" data-preloader="true">
    <!-- Background Vertical lines -->
    <div class="bg-lines">
        <div class="bg-line-1"></div>
        <div class="bg-line-2"></div>
        <div class="bg-line-3"></div>
        <div class="bg-line-4"></div>
    </div>
    <!-- end Background Vertical lines -->
    <!-- Toggle Menu Content -->
    @Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_ToggleMenuPartial.cshtml");
    <!-- end Toggle Menu Content -->

    <div class="container">
        @Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_HeaderPartial.cshtml");

        <div class="row g-4 g-lg-5">
            <div class="col-12 col-lg-4 col-xl-3">
                <!-- Main Nav -->
                @Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_MainNavPartial.cshtml");
                <!-- end Main Nav -->
            </div>
            <!-- end col -->

            <div class="col-12 col-lg-8 col-xl-9">
                <div class="sections-wrapper"
                     data-bs-spy="scroll"
                     data-bs-target=".section-nav">
                    <!-- About section -->
                    @Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_AboutPartial.cshtml");
                    <!-- end About section -->
                    <!-- Portfolio section -->
                    @Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_PortfolioSectionPartial.cshtml");
                    <!-- end Portfolio section -->
                    <!-- Services section -->
                    @Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_ServicesPartial.cshtml");
                    <!-- end Services section -->
                    <!-- Testimonial section -->
                    @Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_TestimonialPartial.cshtml");
                    <!-- end Services section -->
                    <!-- Resume section -->
                    @Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_ResumePartial.cshtml");
                    <!-- end Resume section -->
                    <!-- Clients section -->
                    @Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_ClientPartial.cshtml");
                    <!-- end Clients section -->
                    <!-- Blog section -->
                    @Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_BlogPartial.cshtml");
                    <!-- end Blog section -->
                    <!-- Contact section -->
                    @Html.Partial("~/Areas/AdminPanel/Views/Dashboard/Partials/_ContactPartial.cshtml");
                    <!-- end Contact section -->
                    <!-- Google Maps -->
                    <div id="map1"
                         class="gmap gmap-sm mt-4 border-radius box-shadow"
                         data-latitude="51.513569"
                         data-longitude="-0.123443"></div>
                    <!-- end Google Maps -->
                </div>
                <!-- end tab-content -->
            </div>
            <!-- end col -->
        </div>
        <!-- end main row -->
    </div>
    <!-- end main container -->
    <!-- JavaScripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi4SV0ZRVGoIDH2E00YtJ8Gvg67eaPG5A"></script>
    <script src="~/plugins/jquery.min.js"></script>
    <script src="~/plugins/plugins.js"></script>
    <script src="~/js/functions.js"></script>
</body>

<!-- Mirrored from gray.flatheme.net/index-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 29 Jun 2024 11:07:19 GMT -->
</html>

