@using Portfolio.ViewModels
@model PortfolioViewModel

<div class="section-box mt-4" id="blog">
    <div class="row">
        <div class="col-12 col-md-10 col-xl-8">
            <h6 style="
											font-family: Permanent Marker, cursive;
											font-weight: 400;
											font-style: normal;
                                        "
                class="title-heading mb-3"
                data-backdrop-text="Blog">
                Blog
            </h6>
            <h1 style="
											font-family: Rubik Doodle Shadow, system-ui;
											font-weight: 400;
											font-style: normal;
                                        ">
                Latest Blog Posts
            </h1>
            @foreach (var item in Model.blogtxtEntities)
            {
                <p style="
													font-family: Baskervville SC, serif;
													font-weight: 400;
													font-style: normal;
                                                            ">
                    @item.Text
                </p>
                <a class="btn btn-primary" asp-action="EditBlogtxt" asp-route-id="@item.Id">Edit</a>
            }
        </div>
    </div>
    <div class="mt-4 mt-lg-5">
        <!-- Blog Post box 1 -->
        @foreach (var item in Model.blog)
        {
            <div class="blog-post-box">
                <div class="blog-post-img">
                    <a href="@item.Href">
                        <img src="@item.ImageUrl" alt="" />
                    </a>
                    <div class="blog-post-category">
                        <a href="#">@item.Name</a>
                    </div>
                </div>
                <div class="blog-post-caption">
                    <p class="mb-2">@item.Data</p>
                    <h2>
                        <a class="link-decoration" href="@item.Href">@item.Description</a>
                    </h2>
                    <a class="button button-sm button-outline mt-2"
                       href="blog-single-dark.html">Read more</a>
                </div>

            </div>
            <a class="btn btn-primary" asp-action="EditBlog" asp-route-id="@item.Id">Edit</a>

            <a class="btn btn-danger" asp-action="DeleteAbout" asp-route-id="@item.Id">Delete</a>
        }

    </div>
    <a class="btn btn-success" asp-action="CreateAbout">Create</a>

</div>
<!-- end section-box -->