@using Portfolio.ViewModels
@model PortfolioViewModel
<div class="section-box mt-4" id="resume">
    <div class="row">
        <div class="col-12 col-md-10 col-xl-8">
            <h6 style="
											font-family: Permanent Marker, cursive;
											font-weight: 400;
											font-style: normal;
                                        "
                class="title-heading mb-3"
                data-backdrop-text="Resume">
                Resume
            </h6>
            <h1 style="
											font-family: Rubik Doodle Shadow, system-ui;
											font-weight: 400;
											font-style: normal;
                                        ">
                Education & Experience
            </h1>
           @foreach (var item in Model.resumeTxtEntities)
            {
                <p>
                     @item.Text
                </p>
                <a class="btn btn-primary" asp-action="EditResumeTxt" asp-route-id="@item.Id">Edit</a>
            }
        </div>
    </div>
    <div class="row g-4 g-lg-5 mt-0">
        <div class="col-12 col-xl-6">
            <div class="resume-wrapper">
                <div class="icon-2xl mb-3">
                    <i class="bi bi-mortarboard line-height-100"></i>
                </div>
                <!-- Education box 1 -->
              
               @foreach (var item in Model.educations)
                {
                    <div class="resume-box">
                        <span class="resume-date">@item.Years</span>
                        <h5 class="fw-medium">@item.Degree</h5>
                        <span>@item.University</span>
                    </div>

                    <a class="btn btn-primary" asp-action="EditEducation" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteEducation" asp-route-id="@item.Id">Delete</a>

                }
                <a class="btn btn-success" asp-action="CreateEducation">Create</a>

            </div>
           

        </div>
        <div class="col-12 col-xl-6">
            <div class="resume-wrapper">
                <div class="icon-2xl mb-3">
                    <i class="bi bi-briefcase line-height-100"></i>
                </div>
                <!-- Employment box 1 -->
               @foreach (var item in Model.experiences)
                {
                    <div class="resume-box">
                        <span class="resume-date">@item.Years</span>
                        <h5 class="fw-medium">@item.Position</h5>
                        <span> @item.Company</span>
                    </div>
                    <a class="btn btn-primary" asp-action="EditExperience" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteExperience" asp-route-id="@item.Id">Delete</a>
                }
                <a class="btn btn-success" asp-action="CreateExperience">Create</a>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- end section-box -->