@using Portfolio.ViewModels
@model PortfolioViewModel

<!-- Services section -->
<div class="section-box mt-4" id="services">
    <div class="row">
        <div class="col-12 col-md-10 col-xl-8">
            <h6 style="
											font-family: Permanent Marker, cursive;
											font-weight: 400;
											font-style: normal;
                                        "
                class="title-heading mb-3"
                data-backdrop-text="Services">
                Services
            </h6>
            <h1 style="
											font-family: Rubik Doodle Shadow, system-ui;
											font-weight: 400;
											font-style: normal;
                                        ">
                What I Do
            </h1>
          @foreach (var item in Model.txts)
            {
                <p style="
											font-family: Baskervville SC, serif;
											font-weight: 400;
											font-style: normal;
                                            "
                   class="mt-1">
                    @item.ServiceText
                </p>
                <a class="btn btn-primary" asp-action="EditServiceTxt" asp-route-id="@item.Id">Edit Text</a>
            }
        </div>
    </div>
    <div class="mt-4 mt-lg-5">
        <ul class="services-list">
            <!-- Services Item 1 -->
            @foreach (var item in Model.servicesEntity)
            {
                <li class="services-item">
                    <div class="services-number">
                        <h1 class="font-family-mono fw-semi-bold stroke-text display-4">
                            @item.Number
                        </h1>
                    </div>
                    <div class="services-title icon-xl">
                        <i class="@item.LogoUrl"></i>
                        <h6 class="mono-heading">@item.Profession</h6>
                    </div>
                    <div>
                        <p style="
													font-family: Baskervville SC, serif;
													font-weight: 400;
													font-style: normal;
                                                    ">
                             @item.Text
                        </p>
                    </div>
                    
                </li>

                <a class="btn btn-danger" asp-action="DeleteService" asp-route-id="@item.Id" >Delete</a>
                <a class="btn btn-primary" asp-action="EditServicesEntity" asp-route-id="@item.Id">Edit</a>
                
                
            }

           
           
           


        </ul>
       
       

    </div>
 
</div>
<a class="btn btn-success" asp-action="CreateServices">Create</a>
<!-- end section-box -->
<!-- end Services section -->